<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <!-- <link rel="icon" href="./static/images/favicon.ico"> -->
    <link rel="stylesheet" href="./static/css/reset.css">
    <link rel="stylesheet" href="./static/plugins/vant/index.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.4/lib/index.css"> -->
    <link rel="stylesheet" href="./static/css/common.css">
    <link rel="stylesheet" href="./static/css/index.css">
    <title>前程校</title>
    <script>
      (function(doc, win) {
        var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function() {
            var clientWidth = docEl.clientWidth;
		        clientWidth = clientWidth < 375 ? 375 : (clientWidth > 750 ? 750 : clientWidth);
            if (!clientWidth) return;
            docEl.style.fontSize = 100 * (clientWidth / 375) + 'px';
        };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
      })(document, window);
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but ruiyun doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app" :style="{height: height}" v-cloak>
      <div>
        <van-swipe :autoplay="3000" indicator-color="white">
          <van-swipe-item @click="bannerLink">
            <img src="./static/images/banner.png" alt="" style="width: 100%;height: auto;"> 
          </van-swipe-item>
          <van-swipe-item @click="bannerLink">
            <img src="./static/images/banner2.png" alt="" style="width: 100%;height: auto;">       
          </van-swipe-item>
        </van-swipe>        
      </div>
      <section class="section">
        <div class="sel-content">
          <van-cell @click="cellHandel('city')" title="省市" is-link :value="city||'请选择省市'"></van-cell>
          <van-cell @click="cellHandel('colleges', 'city')" title="院校" is-link :value="colleges||'请选择院校'"></van-cell>
          <van-cell @click="cellHandel('system', 'colleges')" title="院系" is-link :value="system||'请选择院系'"></van-cell>
          <van-cell @click="cellHandel('major', 'system')" title="专业" is-link :value="major || '请选择专业'"></van-cell>
          <van-cell @click="cellHandel('direction', 'major')" title="方向" is-link :value="direction ||'请选择方向'"></van-cell>
          <van-cell @click="cellHandel('subject', 'direction')" title="科目" is-link :value="subject||'请选择科目'"></van-cell>
        </div>
       
      </section>
      <footer class="footer">
        <div class="btn">
          <van-button @click="submit" type="info" block round>确认提交</van-button>
        </div>
        <!-- <div class="footer-nav">
          <div class="content">
            <van-icon name="arrow-left" color="#292C29" size="24" style="float: left;"></van-icon>
            <van-icon name="arrow" color="#B5B6BD" size="24" style="float: right;"></van-icon>
          </div>
        </div> -->
      </footer>

      <van-picker v-if="cityFlag" :loading="loading" show-toolbar title="省市" :columns="cityList" @cancel="cancel('city')" @confirm="cityConfirm"></van-picker>

      <van-picker v-if="collegesFlag" :loading="loading" show-toolbar title="院校" :columns="collegesList" @cancel="cancel('colleges')" @confirm="collegesConfirm"></van-picker>

      <van-picker v-if="systemFlag" :loading="loading" show-toolbar title="院系" :columns="systemList" @cancel="cancel('system')" @confirm="systemConfirm"></van-picker>

      <van-picker v-if="majorFlag" :loading="loading" show-toolbar title="专业" :columns="majorList" @cancel="cancel('major')" @confirm="majorConfirm"></van-picker>

      <van-picker v-if="directionFlag" :loading="loading" show-toolbar title="方向" :columns="directionList" @cancel="cancel('direction')" @confirm="directionConfirm"></van-picker>



      <van-popup v-model="subjectFlag" closeable position="right" :style="{ height: '100%', width: '100%' }">
        <div class="subject-list">
          <p class="subject-title">选择科目</p>
          <div class="subject-item" @click="subjectSel = index" v-for="(item, index) in subjectList" :key="index">
            {{item}}
            <span class="sel" v-if="subjectSel == index"></span>
          </div>
          <div class="subject-btn">
            <van-button @click="subjectConfirm(subjectSel)" type="info" block round>确认</van-button>
          </div>
        </div>
      </van-popup>

    </div>
    <script src="./static/plugins/jquery-3.2.1.min.js"></script>
    <script src="./static/plugins/vue.min.js"></script>
    <script src="./static/plugins/vant/vant.min.js"></script>
    <!-- 微信sdk文件，调用微信接口功能 -->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vant@2.4/lib/vant.min.js"></script> -->
    <script src="./static/js/common.js"></script>
    <script src="./static/js/index.js"></script>
  </body>
</html>
