<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <!-- <link rel="icon" href="./static/images/favicon.ico"> -->
    <meta name="description" content="1分钟填写初试拟排名，抢占复试备考先机！" />
    <link rel="stylesheet" href="./static/css/reset.css">
    <link rel="stylesheet" href="./static/plugins/vant/index.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.4/lib/index.css"> -->
    <link rel="stylesheet" href="./static/css/common.css?ver=12456">
    <link rel="stylesheet" href="./static/css/rank.css?ver=123457">
    <title>2022年全国考研初试拟排名系统</title>
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    clientWidth = clientWidth < 375 ? 375 : (clientWidth > 750 ? 750 : clientWidth);
                    if (!clientWidth) return;
                    docEl.style.fontSize = 100 * (clientWidth / 375) + 'px';
                };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
</head>
<body>
    <noscript>
        <strong>We're sorry but ruiyun doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div style='margin:0 auto;width:0px;height:0px;overflow:hidden;'>
        <img src='./static/images/logo@300px.png' />
    </div>
    <div id="app" :style="{'padding-bottom': footHeight}" v-cloak>
        <div class="grade-info">
            <div>
                <label>姓名:</label>
                <span class="val">{{userInfo.RealName}}</span>
            </div>
            <div>
                <label>报考院校:</label>
                <span class="val">{{userInfo.p2name}}</span>
            </div>
            <div>
                <label>报考院系:</label>
                <span class="val">{{userInfo.p3name}}</span>
            </div>
            <div>
                <label>总分:</label>
                <span class="val">
                  {{userInfo.TotalGrade/100}} 
                  <em style="color: #E6A23C; margin-left:5px;font-style:normal;" v-if="userInfo.Status == '待核实'">未核实</em>
                  <em style="color: #F56C6C; margin-left:5px;font-style:normal;" v-if="userInfo.Status == '垃圾箱'">审核未通过</em>
                </span>
            </div>
        </div>
        <section class="section">
            <div class="tips">
                温馨提示: 参与排名人数越多排名越准哦~
                <em @click="share"></em>
            </div>
            <div class="rank-info">
                <van-row gutter="8">
                    <van-col span="8">
                        <div class="rank-type school">
                            <!-- <p class="rank-val">{{userInfo.Status == '垃圾箱' ? '--' : userInfo.Rank2}}</p> -->
                            <p class="rank-val">{{userInfo.Total2||'--'}}</p>
                            <p class="rank-text">校内统计人数</p>
                            <!-- <p class="rank-total">共{{userInfo.Total2}}人</p> -->
                        </div>
                    </van-col>
                    <van-col span="8">
                        <div class="rank-type compound">
                            <!-- <p class="rank-val">{{userInfo.Status == '垃圾箱' ? '--' : userInfo.Rank3}}</p> -->
                            <p class="rank-val">{{userInfo.Total3||'--'}}</p>
                            <p class="rank-text">院内统计人数</p>
                            <!-- <p class="rank-total">共{{userInfo.Total3}}人</p> -->
                        </div>
                    </van-col>
                    <van-col span="8">
                        <div class="rank-type major">
                            <!-- <p class="rank-val">{{userInfo.Status == '垃圾箱' ? '--' : userInfo.Rank4}}</p> -->
                            <p class="rank-val">{{userInfo.Total4||'--'}}</p>
                            <p class="rank-text">专业统计人数</p>
                            <!-- <p class="rank-total">共{{userInfo.Total4}}人</p> -->
                        </div>
                    </van-col>
                </van-row>
            </div>
            <div class="remark">
                注: 此报告生成时间为{{userInfo.RankTime}}
            </div>
            <div style="font-size:.12rem;">
              <div style="font-size:.13rem;color:#7677EA;">以下为专业总分排名，科目分数可进下面复试群了解</div>

              <van-list v-model="loading"
                        :finished="finished"
                        finished-text=""
                        @load="onLoad">
                  <van-row style="margin-bottom: 6px;">
                      <van-col span="4">排名</van-col>
                      <van-col span="6">姓名</van-col>
                      <van-col span="10">总分</van-col>
                      <van-col span="4">状态</van-col>
                  </van-row>      
                  <van-row v-for="(item, index) in list" :key="item" style="margin-bottom: 8px;">
                      <van-col span="4">{{index + 1}}</van-col>
                      <van-col span="6">{{item.RealName}}</van-col>
                      <van-col span="10">{{item.TotalGrade}} </van-col>
                      <van-col span="4" style="color:#409EFF;">{{item.Status}}</van-col>
                      <!-- <van-col span="24">{{item.Grades}}</van-col> -->
                  </van-row>
              </van-list>
          </div>
          <div v-if="Content">
            <van-divider  :style="{ color: '#FEBB29', borderColor: '#FEBB29' }">专业相关信息</van-divider>
            <div v-html="Content"></div>
          </div>
        </section>
        <footer class="footer" style="position: fixed;background: #F7F3FF;">
            <div class="btn btn-group">
                <div class="item" style="margin-right: 5px;">
                    <van-button style="padding: 0 5px;" @click="updateHandle" type="info" block round>复试导学课</van-button>
                </div>
                <div class="item" style="margin-left: 5px;">
                    <van-button style="padding: 0 5px;" @click="communicationHandle" type="info" block round>复试/调剂交流群</van-button>
                </div>
            </div>
            <div class="btn">
                <van-button @click="reset" block round>重新查询</van-button>
            </div>
            <!-- <div class="footer-nav">
          <div class="content">
            <van-icon name="arrow-left" color="#292C29" size="24" style="float: left;"></van-icon>
            <van-icon name="arrow" color="#B5B6BD" size="24" style="float: right;"></van-icon>
          </div>
        </div> -->
        </footer>

        <van-popup v-model="update" :close-on-click-overlay="false">
            <div class="popup-content update">
                <div class="code">
                    <p class="popup-title">扫描下方二维码听听复试如何准备</p>
                    <div>
                        <div class="code-img">
                            <!-- <img src="./static/images/11.jpg" alt="code"> -->
                            <img :src="code1" alt="code">

                        </div>
                        <p class="mark-tip">
                            <span class="mark"></span>
                            长按识别二维码
                        </p>
                    </div>
                </div>
                <span class="close" @click="update=false"></span>
            </div>
        </van-popup>

        <van-popup v-model="communication" :close-on-click-overlay="false">
            <div class="popup-content communication">
                <div class="code">
                    <p class="popup-title">QQ扫描下方二维码进复试群</p>
                    <div>
                        <div class="code-img">
                            <!-- <img src="./static/images/22.jpg" alt="logo"> -->
                            <img :src="code2" alt="code">
                        </div>
                        <p class="mark-tip">
                            <span class="mark"></span>
                            长按识别二维码
                        </p>
                    </div>
                </div>
                <span class="close" @click="communication = false"></span>
            </div>
        </van-popup>

        <div class="share-wrapper" v-show="shareFlag" @click="shareFlag = false">
            <div class="share-block">
                <div style="overflow: hidden;">
                    <img src="./static/images/arrow.png" alt="右上角">
                </div>
                <div>请点击右上角分享</div>
            </div>
        </div>
    </div>
    <script src="./static/plugins/jquery-3.2.1.min.js"></script>
    <script src="./static/plugins/vue.min.js"></script>
    <script src="./static/plugins/vant/vant.min.js"></script>
    <!-- 微信sdk文件，调用微信接口功能 -->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vant@2.4/lib/vant.min.js"></script> -->
    <script src="./static/js/common.js?ver=20220218"></script>
    <script src="./static/js/rank.js?ver=2022021801"></script>
</body>
</html>
